/* remove gutters between columns, negtive margin from .row 
and horizontal padding from all immediate children columns */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* sticky footer*/

footer {
  height: 50px;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
}

html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

/* style for Bootstrap-Portfolio index page*/

.container-fluid.content-area {
  max-width: 90%;
  padding: 0;
}
.entire-content {
  background-image: url(../images/trees.png);
  /* background-image */
  margin: 0 auto;
  padding: 30px 0 90px 0;
}

#title {
  margin: 0 auto;
  background-color: #4aaaa5;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  padding: 0 20px 0 20px;
  border-left: 1px solid #dddddd;
}
a.nav-link.active {
  border: none;
}
a:hover {
  /* choose a close color with color wheel */
  color: #4ca8c2;
}

ul {
  margin: 0 auto;
  padding-right: 0;
  height: 100%;
  display: flex;
}
.nav-item {
  align-self: center;
}
.whole-content-area {
  margin: 20px;
}

.subtitle {
  color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px, 20px;
  margin: 0;
  text-align: center;
}
.subtitle-area {
  border-bottom: 2px solid #cccccc;
  margin: 15px;
}

img#profile-image {
  margin: 20px;
  max-width: 20%;
  height: auto;
}
p {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.content-area {
  background-color: #ffffff;
}

/* style for contact page */

.btn {
  background-color: #4aaaa5;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #4aaaa5;
}

.row.form-area {
  margin: 20px;
}

/* style for portfolio page */

.card-img-overlay {
  position: absolute;
  top: 70%;
  bottom: 10%;
  background-color: #4aaaa5;
  padding: 0 25px;
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
